<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <title>Final Project</title>
</head>
<body>
  <header>
    <h1>VenU</h1>
    <div class="new-content">
      <span><a class="new-content" href="/new_venue">Create New Venue</a></span>
      <span><a class="new-content" href="/new_show">Create New Show</a></span>
    </div>
    <div class = 'nav'>
      <span><a href="/venues_dc">Venues in DC</a></span>
      <span><a href="/venues_capacity">Venues by Capacity</a></span>
      <span><a href="/bands_abc">Bands Alphabetically</a></span>
      <span><a href="/past_shows">Past Shows</a></span>
      <span><a href="/upcoming_shows">Upcoming Shows</a></span>
    </div>
  </header>
    {{{body}}}
</body>
<script>
  {{{state}}}

</script>
</html>
