<h2>Venues by Capacity</h2>
<table>
  <thead>
    <tr>
      <td>Name</td><td>Type</td><td>Capacity</td>
    </tr>
  </thead>
  {{#each v}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.venue_type}}</td>
      <td>{{this.capacity}}</td>
    </tr>
  {{/each}}
</table>
